{
      "arrowParens": "avoid",
      "singleQuote": true,
      "semi": true,
      "useTabs": false,
      "quoteProps": "as-needed",
      "printWidth": 80,
      "jsxSingleQuote": true,
      "endOfLine": "lf",
      "trailingComma": "none"
}